/* ---------------------
    Color Variables
--------------------- */
$primary-color:#ffbf24;
$secondary-color:#587bef;
$tertiary-color:#ff4444;
$white:#ffffff;
$text-color:#1f1f1f;

/* ---------------------
    Mixins
--------------------- */
@mixin border-radius($radius){
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
    -khtml-border-radius: $radius;
}

@mixin box-shadow($left, $top, $radius, $color) {
	box-shadow: $left $top $radius $color;
	-webkit-box-shadow: $left $top $radius $color;
	-moz-box-shadow: $left $top $radius $color;
}

@mixin no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn{
    border-radius: 0;

    &.btn-light{
        &.with-border{
            border:1px solid #9e9e9e;
        }
    }

    &.btn-primary{
        background: #1690cb; /* Old browsers */
        background: -moz-linear-gradient(-45deg,  #1690cb 0%, #617fe5 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg,  #1690cb 0%,#617fe5 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg,  #1690cb 0%,#617fe5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1690cb', endColorstr='#617fe5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        border-color:transparent;
        &:hover{
            -webkit-box-shadow: 0px 9px 21px 1px rgba(112, 115, 252, 0.35);
        -moz-box-shadow:    0px 9px 21px 1px rgba(112, 115, 252, 0.35);
        box-shadow:         0px 9px 21px 1px rgba(112, 115, 252, 0.35);
        }
    }
}

body{
    font-family: 'Open Sans', sans-serif;
}

header .navbar-nav .nav-item a {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

header .navbar-light .navbar-nav .nav-link:focus, header .navbar-light .navbar-nav .nav-link:hover {
    color: $secondary-color;
}

header .navbar-light .navbar-nav .nav-link{
    color:$text-color;
}

header {
    .top-header{
        background-color: $white;
        /* box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.5); */
        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
    }

    .navbar-nav{
        margin-left: 25px;
    }
    
    .navbar-collapse{
        position: absolute;
        top: 56px;
        left: 0px;
        right: 0px;
        background-color: $white;
        z-index: 999;
    }

    .navbar-light .navbar-nav .nav-item{
        position: relative;
        margin-right: 36px;
    }

    .navbar-light .navbar-nav .active .nav-link{
        color: $secondary-color;
    }
}

header .user-links {
    padding-left: 0;
    list-style-type: none;
    display: inline-flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
}

header .navbar-light .navbar-nav .nav-item:after {
    position: absolute;
    content: "";
    left: -10px;
    top: 11px;
    height: 15px;
    width: 3px;
    background-color: $white;
}

header .user-links li a.refer-link, header .user-links li .search-btn.refer-link {
    border-left: none;
}

header .user-links li a, header .user-links li .search-btn {
    text-decoration: none;
    position: relative;
    display: inline-flex;
    width: 36px;
    height: 21px;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    margin-right: 15px;
    border-left: 1px solid $text-color;
}

header .user-links li a.cart, header .user-links li .search-btn.cart {
    color: $secondary-color;
}

header .user-links li a.cart .count, header .user-links li .search-btn.cart .count {
    position: absolute;
    top: -10px;
    right: -9px;
    font-size: 10px;
    display: inline-flex;
    background-color: $tertiary-color;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    color: $white;
}

header .user-links li .search-btn {
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-bottom: none;
    cursor: pointer;
}

header .navbar-light .navbar-nav .active:after {
    background-color: $primary-color;
}

header{

    .search-bar{
        background-color:$secondary-color;
        padding: 5px 0 5px 0;

        .close-btn{
            background-color: transparent;
            border:none;
        }

        .search-cover{
            border:1px solid #ced4da;
            border-radius:4px;
            background-color: $white;

            .search{
                border:none;
                font-size:14px;

                &:focus{
                    box-shadow: none;
                }
            }
        }
    }
}

section{
    position: relative;

    .section-title{
        font-weight:700;
        position: relative;
        font-size:28px;
        margin-bottom: 75px;

        &:after{
            content:"";
            position: absolute;
            width:95px;
            height:3px;
            left:0;
            top:55px;
            background-color: $primary-color;
        }
    }

    .left-shape,
    .right-shape{
        position: absolute;
        width: 277px;
        top: 0;
    }

    .left-shape{
        left: -75px;
    }

    .right-shape{
        right: 0;
    }

    &.features{
        padding:90px 0 30px 0;

        .floating-triangle{
            position: absolute;
            bottom: 15px;
            left: 25px;
        }

        .feature-item{

            h5{
                font-weight:600;
            }

            &:hover{
                
                .icon-cover{

                    .tile{
                    
                        &.front{
                            background-color: $white;
                            border-color:$primary-color;

                            svg{
                                path{
                                    fill: $text-color;
                                }
                            }
                        }

                        &.back{
                            background-color:$primary-color;
                            border-color:$primary-color;
                        }
                    }
                }
            }
    
            .icon-cover{
                width:130px;
                height:130px;
                position: relative;
                margin:0 auto 50px auto;
    
                .tile{
                    width:125px;
                    height:125px;
                    border-radius:8px;
                    transform: rotate(45deg);
                    border:1px solid $secondary-color;
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
                    &.front{
                        background-color: $secondary-color;

                        svg{
                            transform: rotate(-45deg);

                            path{
                                fill:$white;
                            }
                        }
                    }
    
                    &.back{
                        position: absolute;
                        top: 0;
                        left: 10px;
                    }
                }
            }

            
        }
    }

    &.featured-products{
        padding:30px 0;

        .floating-circle-left,
        .floating-circle-right{
            position: absolute;
            width: 85px;
        }

        .floating-circle-left{
            left: 0;
            bottom:0;
            transform: rotate(180deg);
        }

        .floating-circle-right{
            right: 0;
            top: 0;
        }
        

        .product-card{
            border:1px solid #9e9e9e;
            padding:20px;
            background-color: $white;

            &:hover{
                -webkit-box-shadow: 0px 4px 11px 0px rgba(158, 158, 158, 0.59);
                -moz-box-shadow:    0px 4px 11px 0px rgba(158, 158, 158, 0.59);
                box-shadow:         0px 4px 11px 0px rgba(158, 158, 158, 0.59);
            }

            .discount{
                width:48px;
                height:48px;
                border-radius: 100%;
                background-color: $tertiary-color;
                color:$white;
                font-size:12px;
                display: table-cell;
                line-height: 16px;
                text-align: center;
                vertical-align: middle;
                transform: rotate(-35deg);

                span{
                    font-size:15px;
                }
            }

            .product-name{
                font-weight:600;
                font-size:15px;
            }

            .warranty{
                font-size:13px;
                color:#929292;
            }

            .price{

                .original-price{
                    font-size:13px;
                    color:#929292;
                }

                .offer-price{
                    font-size:17px;
                    color:$tertiary-color;
                    font-weight:600;
                }    
            }

            .ratings{
                font-size: 14px;

                i{
                    color:$primary-color;
                }
            }

            .btns-group{
                .btn{
                    padding:.375rem 1rem;
                    font-size:12px;

                    &:first-of-type{
                        margin-right:18px;
                    }
                }
            }

            
        }
    }

    &.recent-projects{

        .blog-card{
            max-width: 300px;
            margin:0 auto;

            &:hover{
                box-shadow: 0px 4px 11px 0px rgba(158, 158, 158, 0.59);

                .blog-content{
                    border-left-color:#9e9e9e;
                    border-right-color:#9e9e9e;
                    border-bottom-color:#9e9e9e;
                }
                
            }
            
            .blog-image{

            }

            .blog-title{
                color:$text-color;
                text-decoration:none;

                h5{
                    font-weight: 600;
                }
            }

            .blog-content{
                border-top:1px solid transparent;
                border-left:1px solid $white;
                border-right:1px solid $white;
                border-bottom:1px solid $white;
                padding:30px;

                .post-date{
                    font-size:15px;
                    font-weight: 600;
                }
                p{
                    font-size:14px;
                }
            }

            .btn{
                font-size:13px;
            }
        }
    }
}

footer{
    color:$white;

    a{
        color:$white;
        text-decoration: none;
    }

    ul{
        list-style-type: none;
        padding-left: 0;
    }

    p{
        font-size:14px;
    }

    .main-footer{
        // background-color: $secondary-color;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1690cb+0,617fe5+100 */
        background: #1690cb; /* Old browsers */
        background: -moz-linear-gradient(-45deg,  #1690cb 0%, #617fe5 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg,  #1690cb 0%,#617fe5 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg,  #1690cb 0%,#617fe5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1690cb', endColorstr='#617fe5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        padding:60px 0 20px 0;

        .middle{
            .quick-links{
                li{
                    margin-bottom: 15px;
                    a{
                        font-size:14px;
                        
                        &:hover{
                            color:$white;
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        .right-column{
            
            h6{
                line-height: 26px;
            }

            .form-control{
                border-radius: 0;
                border:none;
            }

            .btn-light{
                border-radius: 0;
            }

            .social-links{
                li{
                    a{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width:28px;
                        height:28px;
                        background: transparent;
                        border-radius: 100%;
                        transition: 0.5s;

                        &:hover{
                            background: $primary-color;
                            text-decoration: none;
                            color:$white;
                        }
                    }
                }
            }
        }
    }

    .copyright{
        padding-top:12px;
        background-color: #2d5bf7;
    }
}


@media only screen and (min-width: 768px){

    section{

        .section-title{
            font-size:36px;

            &:after{
                width:112px;
                height:5px;
                top:65px;
            }
        }

        &.recent-projects{

            .blog-card{
                margin:inherit;
            }
        }
    }

    footer{
        .copyright{
            .right-column{
                text-align:right;
            }
        }
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px){
    section{
        &.featured-products{
            .product-card{
                .btns-group{
                    flex-wrap: wrap;

                    .btn{
                        width:100%;
                        /* padding:.375rem 1rem;
                        font-size:12px; */
        
                        &:first-of-type{
                            margin-right:0;
                            margin-bottom: 15px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px){

    footer{
        .main-footer{
            .middle{
                .quick-links{
                    margin-right:75px;
                }

                .project{
                    max-width:260px;
                }
            }
        }

        .copyright{
            .left-column,
            .right-column{
                text-align: center;
            }
        }
    }
}

@media only screen and (min-width: 1200px){

    header{

        .navbar-collapse {
            position: relative;
            top: inherit;
            left: inherit;
            right: inherit;
            background-color: inherit;
        }

        .navbar-light .navbar-nav {
            margin-left: 36px;
        }
        
    }

    header .user-links {
        position: relative;
        left: inherit;
        transform: inherit;
        top: auto;
    }

    header .navbar-light .navbar-nav .nav-item.active:after {
        background-color: $primary-color;
    }
    
    header .navbar-light .navbar-nav .nav-link {
        padding: 0;
    }

    header .navbar-light .navbar-nav .nav-item:after {
        position: absolute;
        content: "";
        left: 0;
        top: -17px;
        height: 3px;
        width: 100%;
        background-color: $white;
    }

    footer{
        
        .main-footer{

            .middle{
                
                .d-flex{
                    justify-content: space-evenly;
                }
            }
        }
    }
}

