$primary-color:#ffbf24;
$secondary-color:#587bef;
$tertiary-color:#ff4444;
$white:#ffffff;
$text-color:#1f1f1f;
$light-gray-text-color:#929292;
$gray-bg:#f1f3f6;
$gray-border-color:#f0f0f0;
$checkbox-border-color:#898989;


@mixin border-radius($radius){
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
    -khtml-border-radius: $radius;
}


.btn{
    @include border-radius(0);

    &.btn-light{

        &.with-border{
            background-color:$white;
            border:1px solid #9e9e9e;

            &:hover{
                background-color:$primary-color;
                border-color:$primary-color;
                color:$white;
            }
        }
    }

    &.btn-primary{
        background: #1690cb; /* Old browsers */
        background: -moz-linear-gradient(-45deg,  #1690cb 0%, #617fe5 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg,  #1690cb 0%,#617fe5 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg,  #1690cb 0%,#617fe5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1690cb', endColorstr='#617fe5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        border-color:transparent;

        &:hover{
            -webkit-box-shadow: 0px 9px 21px 1px rgba(112, 115, 252, 0.35);
        -moz-box-shadow:    0px 9px 21px 1px rgba(112, 115, 252, 0.35);
        box-shadow:         0px 9px 21px 1px rgba(112, 115, 252, 0.35);
        }
    }
}

body{
    font-family: 'Open Sans', sans-serif;
    padding-top:56px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

    .top-header{
        position: relative;
        z-index: 99999;
        background-color: $white;
        /* box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.5); */
        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
    }

    .navbar-collapse{
        position: absolute;
        top: 56px;
        left: 0px;
        right: 0px;
        background-color: $white;
        z-index: 999;
        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
    }

    .navbar-nav{
        .nav-item{
            a{
                font-size: 14px;
                font-weight: 600;
                text-transform: uppercase;
            }
        }
    }

    .navbar-light{

        .navbar-nav{
            margin-left: 25px;

            .active{

                .nav-link{
                    color: $secondary-color;
                }

                &:after{
                    background-color: $primary-color;
                }
            }

            .nav-item{
                position: relative;
                margin-right: 36px;

                &:after{
                    position: absolute;
                    content: "";
                    left: -10px;
                    top: 11px;
                    height: 15px;
                    width: 3px;
                    background-color: $white;
                }

                .nav-link{
                    color:$text-color;
    
                    &:focus,
                    &:hover{
                        color: $secondary-color;
                    }

                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .user-links {
        padding-left: 0;
        list-style-type: none;
        display: inline-flex;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 20px;

        li{
            a,.search-btn{
                text-decoration: none;
                position: relative;
                display: inline-flex;
                width: 36px;
                height: 21px;
                align-items: center;
                justify-content: center;
                padding-left: 15px;
                margin-right: 15px;
                border-left: 1px solid $text-color;

                &.refer-link{
                    border-left: none;
                }

                &.cart{
                    color: $secondary-color;

                    .count{
                        position: absolute;
                        top: -10px;
                        right: -9px;
                        font-size: 10px;
                        display: inline-flex;
                        background-color: $tertiary-color;
                        width: 18px;
                        height: 18px;
                        @include border-radius(100%);
                        align-items: center;
                        justify-content: center;
                        color: $white;
                    }
                }
            }

            .search-btn{
                background-color: transparent;
                border-top: none;
                border-right: none;
                border-bottom: none;
                cursor: pointer;

                &:focus{
                    box-shadow:none;
                    outline:none;
                }

                i{
                    &:focus{
                        box-shadow:none;
                        outline:none;
                    }
                }
            }
        }
    }

    .search-bar{
        background-color:$secondary-color;
        padding: 5px 0 5px 0;

        .close-btn{
            background-color: transparent;
            border:none;
        }

        .search-cover{
            border:1px solid #ced4da;
            @include border-radius(4px);
            background-color: $white;

            .search{
                border:none;
                font-size:14px;

                &:focus{
                    box-shadow: none;
                }
            }
        }
    }
}

.main-container{
    max-width:1680px;
}

@mixin no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

// custom radio & checkboxes

.custom-checkbox-cover{
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    @include no-select;
    line-height: 16px;
    margin-bottom:13px;
    font-size:14px;

    &:focus{
        outline:none;
    }

    /* Hide the browser's default checkbox */
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        /* When the checkbox is checked, add a blue background */
        &:checked ~ .checkmark {
            background-color:$secondary-color;
            border-color:$secondary-color;

            &:after {
                display: block;
            }
        }
    }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height:14px;
        width:14px;
        background-color: #fff;
        border: 1px solid $checkbox-border-color;
        border-radius: 2px;

        /* Create the checkmark/indicator (hidden when not checked) */
        &:after {
            content: "";
            position: absolute;
            display: none;
            left: 4px;
            top:1px;
            width: 5px;
            height: 9px;
            border: solid white;
            border-width: 0 2px 2px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
}

.custom-radio-cover{
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    @include no-select;
    line-height: 16px;
    margin-bottom:13px;
    
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;

        /* When the radio button is checked, add a blue background */
        &:checked ~ .checkmark {
            background-color: $secondary-color;
            border-color: $secondary-color;

            /* Show the indicator (dot/circle) when checked */
            &:after {
                display: block;
            }
        }
    }

    /* Create a custom radio button */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        border:1px solid $checkbox-border-color;

        /* Create the indicator (the dot/circle - hidden when not checked) */
        &:after {
            content: "";
            position: absolute;
            display: none;
            top: 4px;
            left: 4px;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: white;
        }
    }
}

section{
    position: relative;

    &.gray-bg{
        background-color: $gray-bg;
    }

    .section-title{
        font-weight:700;
        position: relative;
        font-size:28px;
        margin-bottom: 75px;

        &:after{
            content:"";
            position: absolute;
            width:95px;
            height:3px;
            left:0;
            top:55px;
            background-color: $primary-color;
        }
    }

    .left-shape,
    .right-shape{
        position: absolute;
        width: 277px;
        top: 0;
    }

    .left-shape{
        left: -75px;
    }

    .right-shape{
        right: 0;
    }

    &.features{
        padding:90px 0 30px 0;

        .floating-triangle{
            position: absolute;
            bottom: 15px;
            left: 25px;
        }

        .feature-item{

            h5{
                font-weight:600;
            }

            &:hover{
                cursor: pointer;
                
                .icon-cover{

                    .tile{
                    
                        &.front{
                            background-color: $white;
                            border-color:$primary-color;

                            svg{
                                path{
                                    fill: $text-color;
                                }
                            }
                        }

                        &.back{
                            background-color:$primary-color;
                            border-color:$primary-color;
                        }
                    }
                }
            }
    
            .icon-cover{
                width:130px;
                height:130px;
                position: relative;
                margin:0 auto 50px auto;
    
                .tile{
                    width:125px;
                    height:125px;
                    @include border-radius(8px);
                    transform: rotate(45deg);
                    border:1px solid $secondary-color;
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
                    &.front{
                        background-color: $secondary-color;

                        svg{
                            transform: rotate(-45deg);

                            path{
                                fill:$white;
                            }
                        }
                    }
    
                    &.back{
                        position: absolute;
                        top: 0;
                        left: 10px;
                    }
                }
            }

            
        }
    }

    &.featured-products{
        padding:30px 0;

        .product-row{
            overflow:hidden;
        }

        .floating-circle-left,
        .floating-circle-right{
            position: absolute;
            width: 85px;
        }

        .floating-circle-left{
            left: 0;
            bottom:0;
            transform: rotate(180deg);
        }

        .floating-circle-right{
            right: 0;
            top: 0;
        }
        

        .product-card{
            border:1px solid #9e9e9e;
            padding:20px;
            background-color: $white;

            &:hover{
                -webkit-box-shadow: 0px 4px 11px 0px rgba(158, 158, 158, 0.59);
                -moz-box-shadow:    0px 4px 11px 0px rgba(158, 158, 158, 0.59);
                box-shadow:         0px 4px 11px 0px rgba(158, 158, 158, 0.59);
            }

            .discount{
                width:48px;
                height:48px;
                @include border-radius(100%);
                background-color: $tertiary-color;
                color:$white;
                font-size:12px;
                display: table-cell;
                line-height: 16px;
                text-align: center;
                vertical-align: middle;
                transform: rotate(-35deg);

                span{
                    font-size:15px;
                }
            }

            .product-name{
                font-weight:600;
                font-size:15px;
            }

            .warranty{
                font-size:13px;
                color:$light-gray-text-color;
            }

            .price{

                .original-price{
                    font-size:13px;
                    color:$light-gray-text-color;
                }

                .offer-price{
                    font-size:17px;
                    color:$tertiary-color;
                    font-weight:600;
                }    
            }

            .ratings{
                font-size: 14px;

                i{
                    color:$primary-color;
                }
            }

            .btns-group{
                .btn{
                    padding:.375rem 1rem;
                    font-size:12px;

                    &:first-of-type{
                        margin-right:18px;
                    }
                }
            }

            
        }
    }

    &.recent-projects{

        .blog-card{
            max-width: 300px;
            margin:0 auto;

            &:hover{
                box-shadow: 0px 4px 11px 0px rgba(158, 158, 158, 0.59);

                .blog-content{
                    border-left-color:#9e9e9e;
                    border-right-color:#9e9e9e;
                    border-bottom-color:#9e9e9e;
                }
                
            }
            
            .blog-image{

            }

            .blog-title{
                color:$text-color;
                text-decoration:none;

                h5{
                    font-weight: 600;
                }
            }

            .blog-content{
                border-top:1px solid transparent;
                border-left:1px solid $white;
                border-right:1px solid $white;
                border-bottom:1px solid $white;
                padding:30px;

                .post-date{
                    font-size:15px;
                    font-weight: 600;
                }
                p{
                    font-size:14px;
                }
            }

            .btn{
                font-size:13px;
            }
        }
    }

    &.product-listing{
        padding: 15px 0;

        .filter-overlay{
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            background-color: rgba(0,0,0,0.5);
            z-index: 9999999999;
            padding: 15px;
            bottom: 0;
            display: none;

            &.open{
                display: block;
            }

            .filters{
                background-color:$white;
                box-shadow: 0 1px 8px 0 rgba(0,0,0,.06);
                
                .clear-all{
                    color:$tertiary-color;
                    font-size:14px;
                }

                .filter-header{
                    border-bottom:1px solid $gray-border-color;
                    padding: 15px;
                }

                .filter-item{
                    border-bottom:1px solid $gray-border-color;

                    .custom-checkbox-cover{
                        &:last-of-type{
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }

        .breadcrumbs{
            background-color:$white;
            padding: 0;
            font-size:14px;
            margin-bottom:15px;
            box-shadow: 0 1px 8px 0 rgba(0,0,0,.06);
            flex-wrap: wrap;
            
            .links{
                padding: 15px;
                border-bottom: 1px solid $gray-border-color;
                display: block;
                width: 100%;

                a{
                    color:$secondary-color;
                    text-decoration: none;
                }
            }

            .filter-link{
                font-weight:600;
                font-size:14px;
                color:$secondary-color;
            }

            .sorter{
                padding:15px;
                width:100%;

                label{
                    font-weight:600;
                }

                select{
                    border: none;
                    padding: 5px 12px;
                    background-color: $secondary-color;
                    color:$white;
                    border-radius: 3px;

                    &:focus{
                        outline:none;
                    }
                }
            }
        }

        .sortbar{
            background-color: $secondary-color;
            color:$white;
            padding:15px;
            margin-bottom:15px;
            box-shadow: 0 1px 8px 0 rgba(0,0,0,.06);
        }

        .product-list-container{
            flex-wrap: wrap;

            .product-card{
                flex: 1 0 100%;
                background-color: $white;
                margin-bottom:15px;
                padding:25px 15px 15px 15px;
                box-shadow:0 1px 8px 0 rgba(0, 0, 0, 0.06);
                position: relative;
                overflow: hidden;

                .product-info{
                    a{
                        text-decoration: none;
                        
                        .product-name{
                            color:$text-color;
                        }
                    }
                }

                .product-name{
                    color:$text-color;
                    font-weight: 600;
                    font-size: 15px;
                }

                .product-image{
                    margin: 0 auto 12px auto;
                }

                .ratings{
                    font-size:13px;

                    i{
                        color:$primary-color;
                    }
                }

                .original-price{
                    font-size:13px;
                    color:$light-gray-text-color;
                }

                .offer-price{
                    font-size:17px;
                    color:$tertiary-color;
                    font-weight:600;
                }

                .price{

                    .discount{
                        font-size: 14px;
                        color:$tertiary-color;
                    }
                }

                .btns-group{

                    .btn{
                        font-size:13px;
                        width:50%;

                        &:first-of-type{
                            margin-right:15px;
                        }
                    }
                }
            }
        }

        .product-detail-cover{
            padding:0 15px;
        }

        .product-detail-container{
            background-color: $white;
            margin-bottom:15px;
            padding:25px 0 15px 0;
            box-shadow:0 1px 8px 0 rgba(0, 0, 0, 0.06);

            .product-images-container{
                position: sticky;
                top:75px;

                ul{
                    list-style-type: none;
                    padding-left: 0;
                    margin-right:8px;
                    margin-bottom: 0;
                    max-height: 350px;
                    overflow-y: hidden;

                    li{
                        width: 75px;
                        border: 1px solid $gray-border-color;
                        padding: 5px;
                        margin-bottom:8px;
                    }
                }

                .product-image{
                    border: 1px solid $gray-border-color;
                    display:flex;
                    align-items:center;
                    justify-content: center;
                    width:80%;
                }
            }

            .product-info{
                a{
                    text-decoration: none;
                }

                .product-name{
                    color:$text-color;
                    font-weight:600;
                    line-height: 28px;
                }

                .ratings{
                    font-size:13px;
                    color:$primary-color;
                }

                .reviews-link,
                .questions-link{
                    font-size:13px;
                    text-decoration: none;
                }

                .price{
                    s,.discount,.saved-price{
                        font-size:14px;
                    }

                    .offer-price,
                    .discount{
                        color:$tertiary-color;
                    }
                }

                .availability{

                    .in-stock{
                        color:green;
                    }

                    .few-left{
                        color:$tertiary-color;
                    }

                    .out-of-stock{

                        form{
                            flex-wrap: wrap;
    
                            .form-control{
                                margin-bottom:15px;
                            }
    
                            .btn{
                                width:100%;
                                margin-bottom:10px;
                            }
                        }

                        .note{
                            font-size:13px;
                            color:$light-gray-text-color;
                            margin-bottom:0;
                        }
                    }

                    
                }

                .quantity-box{

                    label{
                        font-size:14px;
                    }
                }

                .product-details{
                    padding-bottom: 5px;                    
                    
                    p{
                        font-size:14px;
                    }

                    table{
                        font-size:14px;
                        max-width:auto;

                        tr{

                            &:first-of-type{
                                td{
                                    border-top: none;
                                }
                            }
                        }
                    }


                    
                }

                .questions{
                    padding-top: 30px;
                    border-top: 2px solid $gray-border-color;

                    .form-container{
                        background-color: #f7f7f7;
                        padding: 15px 15px 1px 15px;
                    }

                    h5{
                        font-weight:600;
                    }

                    .question-title{
                        h6{
                            font-size:17px;
                            font-weight:600;
                        }

                        p{
                            font-size:14px;
                        }
                    }

                    .question-form{
                        display: none;

                        .form-control{
                            font-size:14px;
                        }

                        &.open{
                            display: block;
                        }
                    }

                    .question-list{

                        .question-block{
                            font-size:14px;

                            .question{
                                .q-label{
                                    width:95px;
                                    font-weight:600;
                                }
                            }
                            .answer{
                                .a-label{
                                    width:95px;
                                    font-weight:600;
                                }
                            }
                        }
                    }
                }

                .reviews{
                    padding-top: 30px;
                    border-top: 2px solid $gray-border-color;

                    h5{
                        font-weight:600;
                    }

                    .form-container{
                        background-color: #f7f7f7;
                        padding: 15px 15px 1px 15px;
                    }

                    .review-form{
                        display: none;

                        .form-control{
                            font-size:14px;
                        }

                        &.open{
                            display:block;
                        }

                        .name-input{
                            width:50%;
                        }
                    }

                    .review-card{

                        .review-title{
                            font-weight:600;
                            font-size:0.9rem;
                        }

                        .reviewer,
                        .date,
                        .comment, .report{
                            font-size:13px;
                            color:$light-gray-text-color;
                            position: relative;

                            &:after{
                                content:"";
                                position: absolute;
                                top: 8px;
                                left: -12px;
                                height: 4px;
                                width: 4px;
                                border-radius:100%;
                                background-color: $light-gray-text-color;
                            }
                        }

                        .comment, .report{
                            cursor: pointer;
                        }

                        .comment{
                            &::after{
                                display:none;
                            }
                        }

                        .description{
                            font-size:14px;
                        }
                    }
                }

                .policy{
                    padding-top: 30px;
                    border-top: 2px solid $gray-border-color;

                    h5{
                        font-weight: 600;
                    }
                    p{
                        font-size:14px;
                    }
                }
            }
        }
    }
}

footer{
    color:$white;

    a{
        color:$white;
        text-decoration: none;
    }

    ul{
        list-style-type: none;
        padding-left: 0;
    }

    p{
        font-size:14px;
    }
 
    .main-footer{
        // background-color: $secondary-color;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1690cb+0,617fe5+100 */
        background: #1690cb; /* Old browsers */
        background: -moz-linear-gradient(-45deg,  #1690cb 0%, #617fe5 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg,  #1690cb 0%,#617fe5 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg,  #1690cb 0%,#617fe5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1690cb', endColorstr='#617fe5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        padding:60px 0 20px 0;

        .middle{
            .quick-links{
                li{
                    margin-bottom: 15px;
                    a{
                        font-size:14px;
                        
                        &:hover{
                            color:$white;
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        .right-column{
            
            h6{
                line-height: 26px;
            }

            .form-control{
                @include border-radius(0);
                border:none;
            }

            .btn-light{
                @include border-radius(0);
            }

            .social-links{
                li{
                    a{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width:28px;
                        height:28px;
                        background: transparent;
                        @include border-radius(100%);
                        transition: 0.5s;

                        &:hover{
                            background: $primary-color;
                            text-decoration: none;
                            color:$white;
                        }
                    }
                }
            }
        }
    }

    .copyright{
        padding-top:12px;
        background-color: #2d5bf7;
    }
}


@media only screen and (min-width: 768px){

    section{

        .section-title{
            font-size:36px;

            &:after{
                width:112px;
                height:5px;
                top:65px;
            }
        }

        &.recent-projects{

            .blog-card{
                margin:inherit;
            }
        }

        &.product-listing{

            .filter-overlay{
                position: inherit;
                left: inherit;
                right: inherit;
                top: inherit;
                background-color:inherit;
                z-index:inherit;
                padding: 0 0 0 15px;
                bottom: inherit;
                display: block;

                .filters{
                    .closed{
                        display:none;
                    }
                }
            }

            .product-detail-container{
                .product-info{

                    .availability{
                        max-width:450px;

                        .out-of-stock{
                            span{
                                color: $tertiary-color;
                            }

                            form{
                                flex-wrap: nowrap;
                                margin-bottom: 5px;

                                .form-control{
                                    width:290px;
                                    margin-bottom: 0;
                                }

                                .btn{
                                    width:auto;
                                    margin-bottom: 0;
                                }
                            }    
                        }

                        
                    }

                    .product-details{
                        table{
                            max-width:600px;
                        }
                    }
                }
            }
        }
    }

    footer{
        .copyright{
            .right-column{
                text-align:right;
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px){
    section{

        &.product-listing{

            .product-list-container{
                
                .product-card{
                    flex: 0 0 50%;
                    max-width: calc(50% - 8px);

                    .product-image{
                        margin: 0 auto 12px auto;
                    }

                    &:nth-child(odd){
                        margin-right:15px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 992px) and (max-width: 1042px){

    section{

        &.product-listing{

            .product-list-container{
                
                .product-card{
                    flex: 0 0 33%;
                    max-width: calc(33% - 8px);
                    margin-right:15px;
                    
                    &:nth-child(3n){
                        margin-right:0;
                    }

                    .offer-price{
                        font-size:14px;
                    }

                    .discount{
                        font-size: 13px;
                    }

                    .btns-group{
                        flex-wrap:wrap;

                        .btn{
                            width:100%;

                            &:first-of-type{
                                margin-right: 0;
                                margin-bottom: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px){

    section{

        &.featured-products{

            .product-card{

                .btns-group{
                    flex-wrap: wrap;

                    .btn{
                        width:100%;
                        /* padding:.375rem 1rem;
                        font-size:12px; */
        
                        &:first-of-type{
                            margin-right:0;
                            margin-bottom: 15px;
                        }
                    }
                }
            }
        }

        &.product-listing{

            .product-list-container{
                
                .product-card{
                    flex: 0 0 33%;
                    max-width: calc(33% - 8px);
                    margin-right:15px;
                    
                    &:nth-child(3n){
                        margin-right:0;
                    }

                    .product-image{
                        margin: 0 auto 12px auto;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px){

    section{
        
        &.featured-products{

            &.panels{
                display: none;
            }
            .owl-theme{
                .owl-stage{
                    .owl-item{
                        padding:20px;
                    }
                }
            }
        }

        &.features{
            .feature-item{
                .icon-cover{
                    width:105px;
                    height:105px;
                    margin:0 auto 40px auto;
                    
                    .tile{
                        width:100px;
                        height:100px;
                    }
                }
            }
        }
    }

    footer{
        .main-footer{
            .middle{
                .quick-links{
                    margin-right:75px;
                }

                .project{
                    max-width:260px;
                }
            }
        }

        .copyright{
            .left-column,
            .right-column{
                text-align: center;
            }
        }
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1260px){
    section{

        &.product-listing{

            .product-list-container{
                
                .product-card{
                    flex: 0 0 25%;
                    max-width: calc(25% - 12px);
                    margin-right: 15px;
                    height:372px;
                    
                    .product-image{
                        width:210px;
                        -webkit-transition: width 0.5s; /* Safari prior 6.1 */
                        transition: width 0.5s;
                        margin: 0 auto 12px auto;
                    }

                    .product-name{
                        min-height:54px;
                    }

                    &:nth-child(4n){
                        margin-right:0;
                    }

                    &:hover{
                        .product-image{
                            width:58%;
                        }

                        .btns-group{
                            bottom: 0;
                        }
                    }

                    &:nth-child(4n){
                        margin-right:0;
                    }

                    .offer-price{
                        font-size:14px;
                    }

                    .discount{
                        font-size: 13px;
                    }

                    .btns-group{
                        flex-wrap:wrap;
                        padding: 15px;
                        position: absolute;
                        left: 0;
                        right: 0;
                        background: #ffffff;
                        -webkit-transition: bottom 0.5s; /* Safari prior 6.1 */
                        transition: bottom 0.5s;
                        bottom:-92%;

                        .btn{
                            width:100%;

                            &:first-of-type{
                                margin-right: 0;
                                margin-bottom: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1260px){
    section{

        &.product-listing{

            .product-list-container{
                
                .product-card{
                    flex: 0 0 25%;
                    max-width: calc(25% - 12px);
                    margin-right: 15px;
                    height:375px;

                    .product-image{
                        width:210px;
                        -webkit-transition: width 0.5s; /* Safari prior 6.1 */
                        transition: width 0.5s;
                        margin:0 auto 12px auto;
                    }

                    .product-name{
                        min-height:54px;
                    }

                    &:nth-child(4n){
                        margin-right:0;
                    }

                    &:hover{
                        .product-image{
                            width:68%;
                        }

                        .btns-group{
                            bottom: 0;
                        }
                    }

                    .btns-group{
                        padding: 15px;
                        position: absolute;
                        bottom:-55px;
                        left: 0;
                        right: 0;
                        background: #ffffff;
                        -webkit-transition: bottom 0.5s; /* Safari prior 6.1 */
                        transition: bottom 0.5s;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1200px){

    header{

        .navbar-collapse {
            position: relative;
            top: inherit;
            left: inherit;
            right: inherit;
            background-color: inherit;
            box-shadow:none;
        }

        .navbar-light{

            .navbar-nav{
                margin-left: 36px;

                .nav-item{

                    &.active{
                        &:after{
                            background-color: $primary-color;
                        }
                    }

                    .nav-link {
                        padding: 0;
                    }

                    &:after {
                        position: absolute;
                        content: "";
                        left: 0;
                        top: -17px;
                        height: 3px;
                        width: 100%;
                        background-color: $white;
                    }
                
                }
            }
        }

        .user-links {
            position: relative;
            left: inherit;
            transform: inherit;
            top: auto;
        }        
    }

    .main-header{
        max-width:1680px;
    }

    section{
        
        &.featured-products{

            .product-row{
                overflow:inherit;
            }

            .owl-theme{
                .owl-nav{
                    position:relative;

                    .owl-prev,
                    .owl-next{
                        position: absolute;
                        bottom: 250px;
                        font-size: 36px;
                        color:#d1d1d1;

                        &:hover,
                        &:focus{
                            background-color: transparent;
                            outline:none;
                        }
                    }

                    .owl-prev{
                        left: -65px;
                    }

                    .owl-next{
                        right: -65px;
                    }
                }

                .owl-stage-outer{
                    width: 1140px;
                    overflow: hidden;
                }
            }
        }

        &.product-listing{

            .breadcrumbs{
                flex-wrap: nowrap;
                padding:15px;

                .links{
                    padding: 0;
                    border-bottom: none;
                    width: auto;
                }

                .filter-link{
                    display:none;
                }

                .sorter{
                    padding: 0;
                    width:auto;
                }
            }
        }
    }
    
    footer{
        
        .main-footer{

            .middle{
                
                .d-flex{
                    justify-content: space-evenly;
                }
            }
        }
    }
}